@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow:auto; /* Impede a rolagem da página */

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /*padding: 30px 30px;*/
  /* color: white; */
}

.logo{
  height: 98px;
  margin-left: 34px;
}

.navbar{
  display: flex;
  width: 100%;
  background-color: #dda52f;
  height: 102px;
  justify-content: center;
  overflow: hidden;
}


.nav_g {
  width: 131px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5ebd9;
  margin-left: 60px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 34px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 11px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 9px;
  transition: color 0.3s ease;
}

.form-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content:center;
  gap: 50px;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 7px;
}
.form-group label {
  margin-bottom: 5px;
  font-size: 15px;
}

.ajuste_add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linha_add {
  border: 2px solid #dda52f;
  padding: 30px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100% ;
}

.ajuste_btn_add {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-top: 20px;
  border: none;
  height: 40px;
}

.btn_add {
  background-color: #dda52f;
  border: none;
  width: 148px;
  height: 31px;
  color: #fff;
  border-radius: 8px;
}

/* .container {
  margin-top: 50px;
  width: 1000px;
} */

table {
  width: 100%;
    border-collapse: collapse;
}

th {
  background-color: #f5ebd9;
  color: rgb(0, 0, 0);
  padding: 15px;
  
}

td {
  padding: 20px;
  border-bottom: 1px solid #b4790a;
}

table,
td {
  border: 1px solid #dda52f;
}

.ajuste_tabela_icone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.icone {
  margin-left: 4px;
  height: 100px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.titulo_add {
  display: flex;
  margin-top: 86px;
  margin-left: 67px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: bold;
  line-height: 37.5px;
  text-align: left;
  margin-bottom: 17px;
}
.input_configuracao {
  border: 1px solid #dda52f;
  background: #f5ebd9;
  height: 30px;
  border-radius: 5px;
  width: 80%;
}

/* .container {
  width: 90%;
  margin: 0 auto;
} */

.cardapio {
  margin-top: 75px;
}

h2 {
  color: #000;
  margin-bottom: 62px;
  display: flex;
  justify-content: center;
}

.table-container {

  margin-top: 20px;
  /* margin-left: 35px; */
  margin-bottom: 27px;
 /* background-color: #fff;
border: 1px solid #d2ab60;*/
}

.table-checkbox {
  padding: 15px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

table {
    /* width: 85%; */
  border-collapse: visible;
}

thead {
  background-color: #f5e3a1;
}

th, td {
  padding: 15px;
  text-align: center;
  /*border: 1px solid #d2ab60;*/
}

th {
  color: #000;
  font-size: 14px;
  border: none;
}

td{
  border: 1px solid #d2ab60;
}

tbody td {
  font-size: 14px;
  color: #555;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.table-actions {
  padding: 15px;
}

.table-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.table-actions button img {
  width: 24px;
  height: 24px;
  background-color: #DDA52F;
}

label {
  color: #333;
  font-weight:lighter;
  font-size: 15px;
}

input, select {
 
  border: 1px solid #DDA52F;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  background-color: #F5EBD9;
}
.produtosEncontrados{
  visibility: hidden;
  display: flex;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:auto; /* Impede a rolagem da página */
}

* {
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões totais */
}

.container {
  height: 100%; /* Faz com que o container ocupe toda a altura da tela */
  display: flex;
  flex-direction: column; /* Se desejar que os elementos dentro do container se empilhem verticalmente */
}


.form-container {
  flex: 1; /* Faz com que o form-container ocupe o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o conteúdo */
}

.linha_add {
  flex: 1; /* Faz com que a linha de adição ocupe o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 5px;
  gap: 20px;
  height: auto; /* Pode ser ajustado conforme necessário */
}

.table-container {
  width: 100%; /* Garante que a tabela ocupe toda a largura */
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

.posicaoTable{
  display: flex;
  justify-content: center;
  margin:50px;
}
.filtroCategoria{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:50px;
}

textarea{
  border: 1px solid #DDA52F;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  background-color: #F5EBD9;
}

/* modal cantina */
.modalCantina {
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com opacidade */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Largura da área do conteúdo */
  max-width: 600px; /* Limita a largura máxima */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta a posição */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.cantinaBtn {
  display: inline-block; /* Para que se comportem como botões */
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white; /* Cor do texto */
  background-color: #dda52f; /* Cor de fundo */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 4px; /* Bordas arredondadas */
}

.cantinaBtn:hover {
  background-color: #dda52f; /* Cor ao passar o mouse */
}
