@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{

    background-color: #F5EBD9;
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;

}

.titulo_II{
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.quadro_login {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    color: #777;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 7px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px; 
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

.container{
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 8px;
    max-width: 30vw;
    min-height: 30vh;
    flex-direction: column;
    padding: 15px;
}

.nextBtn{
    background-color: #f0a500;
    color: white;
    border: none;
    font-family: "Poppins", sans-serif;
    border-radius: 7px;
    max-width: 80vw;
    min-height: auto;
    padding: 10px;
}

.container_II {
    display: flex;
}

.container_II img{
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralizarBotao {
    display: flex;
    justify-content: center;
}