@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    background-color: #F5EBD9;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.nav_entrar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_ajuste {
    margin-left: 4px;
    margin-top: 18px;
}

.container {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quadrado {
    width: 480px;
    height: 365px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: -165px;
}

.administrador_titulo {
    color: #000;
    margin-bottom: 50px;
    font-size: 21px;
}

.input-group_usuario,
.input-group_senha {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    min-width: 30vw;
    background-color: #ffffff86;
    gap: 10px;
    justify-content: flex-end;
}

.input-group_usuario label,
.input-group_senha label {
    flex-basis: 70px;
    text-align: right;
    font-size: 13px;
}

.escrever_ad {
    flex: 1;
    padding: 11px;
    color: #000;
    background-color: #F1F3F6;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: 0;
    border: none;
}

.btn_ad {
    margin-top: 53px;
    border-radius: 8px;
    color: #ffffff;
    width: 34%;
    height: 36px;
    border: none;
    background-color: #DDA52F;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}